[Desktop Entry]
Name=IanniX
Comment=Graphical sequencer for digital art
Exec=iannix
Icon=iannix
Terminal=false
Type=Application
X-MultipleArgs=false
Categories=Audio;AudioVideoEditing;AudioVideo;Video;Qt;
Name[en_US]=IanniX
